<section id="about">
  <h2>เกี่ยวกับเรา</h2>
  <div id="about-image-link">
      <img src="https://scontent.fbkk12-5.fna.fbcdn.net/v/t39.30808-6/476830542_1188696879922980_4828112850678196902_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=kVn3tFvdfd4Q7kNvgGWRVuB&_nc_oc=Adnr9ScIVtzOcvgt9VJTLee4mghvOj_UV3mPM1pOiKJvT7RbJI-YMbp4CdNunULy8CY&_nc_zt=23&_nc_ht=scontent.fbkk12-5.fna&_nc_gid=WhNiJox2DRvZl8OQvbWpig&oh=00_AYEye_KdZ7fe-v3Nhu8Pjgc4k7eWuFkzMCvsWSyKw5cOew&oe=67ECAFF9" alt="About Us Image" />
  </div>

  <br>
  <p>
    สนามกีฬาจังหวัดขอนแก่น <br />
    ต.ในเมือง อ.เมืองขอนแก่น จ.ขอนแก่น 40000 <br />
    Nai Mueang, Muang Khon kaen, Khon Kaen, 40000
  </p>

  <p>
    ติดต่อสอบถาม: 091-0185354<br />
    Email : Ob1.charoen&#64;gmail.com <br />
    ทดลองเรียนฟรีก่อนได้ครับ
  </p>
</section>
