<div class="container">
  <h1>คำสั่งซื้อของฉัน</h1>
  <div *ngFor="let order of orders" class="order-item">
    <p>รหัสคำสั่งซื้อ: {{ order.id }}</p>
    <p>ยอดรวม: {{ order.totalAmount | currency:'THB' }}</p>
   <p *ngIf="order.orderDate">
  <p>วันที่สั่งซื้อ: {{ formatThaiDate(order.orderDate) }}
</p>

    <h3>รายการสินค้า</h3>
    <div *ngFor="let orderItem of order.orderItems" class="order-item-detail">
      <p><strong>สินค้า:</strong> {{ orderItem.product.name }}</p>
      <p><strong>จำนวน:</strong> {{ orderItem.quantity }}</p>
      <p><strong>ราคา:</strong> {{ orderItem.price | currency:'THB' }}</p>
    </div>
</div>
