<div class="achievement-details-container" *ngIf="achievement"> 
  <h1>{{ achievement.title }}</h1>
  <p><small>{{ achievement.createdAt | date: 'dd/MM/yyyy HH:mm' }}</small></p>
  <p>{{ achievement.description }}</p>
  

  <div class="image-grid">
    <img
      *ngFor="let imagePath of achievement.imagePaths"
      [src]="'http://localhost:8081/uploads/images/achievements/' + imagePath"
      [alt]="achievement.title"
      style="
        object-fit: contain;
        width: 100%;
        height: auto;
        background-color: #f0f0f0;
      "
    />
  </div>
</div>
